body {
  color: #B6FF00;
  background-color: #800000;
  border: 6px solid #4d1919;
  text-align: center;
  font-family:  monospace;
}
header{
  background-color: #4d1919;
  padding-top: 25px;
  border: 5px solid #800000;
  padding-bottom: 25px;
}
.topnav{
  background-color: #4d1919;
  overflow: hidden;
}
.topnav a {
  color: #B6FF00;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 30px;
}
.topnav a:hover {
  background-color: #B6FF00;
  color: #800000;
}
.topnav a.active {
  background-color: #B6FF00;
  color: #800000;
}
a{
  color: #00FFC3;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 30px;
}
dt{
  font-size: 20px;
  padding-bottom: 20px;
}
p{
  font-size: 15px;
}
img{
  border: 5px solid #800000;
  width: 50%;
  height: 50%;
}
iframe{
    border: 5px solid #800000;
    width: 40%;
    height: 300px;
}
section{
  padding-top: 10px;
  color: #B6FF00;
  background-color: #4d1919;
  border: 5px solid #800000;
}
figure{
  padding-top: 25px;
  padding-bottom: 25px;
  color: #B6FF00;
  background-color: #4d1919;
  border: 5px solid #800000;
}
dl{
  color: #B6FF00;
  background-color: #4d1919;
  border: 5px solid #800000;
}
figcaption{
  padding-bottom: 10px;
  font-size: 15px;
}
ul{
  list-style: square;
  list-style-position: inside;
  color: #00FFC3;
}
footer{
  background-color: #4d1919;
  border: 5px solid #800000;
}
